/413260090.xlsx
/AIS_DataGet.py
/AISprocess0825.py
/AISprocess0925.py
/BoatSpeedAngel0902.py
/BoatSpeedAngel0904.py
/BoatSpeedAngel0923.py
/BoatSpeedAngel0930.py
/BoatSpeedAngel1002.py
/BoatSpeedAngel1021.py
/Data
/DataforAIS
/FiberBoatMessage.xlsx
/FilterBoat.xlsx
/JIANTING.xlsx
/Maptraj.py
/Slice diagram.png
/Space-time diagram.png
/SpeedFiltered.png
/TimeAlign.py
/TimeAlign0720.py
/Trajectory0818.py
/Trajectory0823.py
/TrajectoryV1.py
/WaveNoiseDist.py
/WavePatternEval0918.py
/WavePatternEval0920.py
/WavePatternEval0921.py
/WavePatternInDas.png
/__pycache__
/config.py
/crossFiberBoat.xlsx
/distfit-1.4.5
/pos_zf-gsd_20220715120000_20220816115959_94.csv
/pos_zf_gsd_1657814400_1660579199_742.csv
/pos_zf_gsd_2_1630425600_1633017599_743.csv
/read_AIS_data.py
/static_zf-gsd_20220715120000_20220816115959_94.csv
/static_zf_gsd_1657814400_1660579199_742.csv
/static_zf_gsd_2_1630425600_1633017599_743.csv
/test.png
/test.py
/船只轨迹计算结果12.83-123.26.xlsx
/船只轨迹计算结果13.82-58.22.xlsx
/船只轨迹计算结果13.86-119.86.xlsx